@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url('../assets/fonts/inter-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/anton-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/inria-sans-300-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/inria-sans-400-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/inria-sans-700-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('../assets/fonts/figtree-latin.woff2') format('woff2');
}
